<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeverchan.recycling_machine.repository.BoardMapper">


    <!--    user    -->
    
    <select id="select" parameterType="String" resultType="UserDto">
        SELECT id, password  FROM user WHERE id = #{id}
    </select>

    <select id="selectUser" parameterType="String" resultType="UserDto">
        SELECT id, password, email, name  FROM user WHERE id = #{id}
    </select>

    <select id="selectEmail" parameterType="String" resultType="UserDto">
        SELECT email  FROM user WHERE email = #{email}
    </select>

    <insert id="insert" parameterType="UserDto">
        INSERT INTO user (id, password, email, name) VALUES (#{id}, #{password}, #{email}, #{name})
    </insert>

    <update id="updateName" parameterType="Map">
        UPDATE user SET name=#{name} WHERE id=#{id}
    </update>

    <update id="updateEmail" parameterType="Map">
        UPDATE user SET email=#{email} WHERE id=#{id}
    </update>

    <update id="updatePwd" parameterType="Map">
        UPDATE user SET password=#{password} WHERE id=#{id}
    </update>

    <!--    point    -->

    <insert id="insertPoint" parameterType="String">
        INSERT INTO point (user_id) VALUES (#{user_id})
    </insert>
    
    <select id="selectAmountById" parameterType="String" resultType="Long">
        SELECT amount FROM point WHERE user_id = #{user_id}
    </select>

    <select id="selectIdByUserId" parameterType="String" resultType="int">
        SELECT id FROM point WHERE user_id = #{user_id}
    </select>

    <update id="updatePoint" parameterType="Map">
        UPDATE point SET amount=#{amount}, updated_At=now() WHERE user_id=#{user_id}
    </update>

    <!--    userHistory   -->

    <select id="selectAllHistory" parameterType="String" resultType="UserHistory">
        SELECT user_id, name, email, updated_At FROM user_history WHERE user_id=#{user_id} ORDER BY updated_At DESC
    </select>

    <insert id="insertHistory" parameterType="UserHistory">
        INSERT INTO user_history (user_id, name, email) VALUES (#{user_id}, #{name}, #{email})
    </insert>

    <!--    product    -->

    <insert id="insertProduct" parameterType="ProductDto">
        INSERT INTO product (user_id, name, description, price) VALUES (#{user_id}, #{name}, #{description}, #{price})
    </insert>

    <select id="selectAllProductByUserId" parameterType="String" resultType="ProductDto">
        SELECT id, user_id, name, description, price, created_At, state FROM product WHERE user_id=#{user_id} ORDER BY created_At DESC
    </select>

    <select id="selectAllProduct" resultType="ProductDto">
        SELECT id, user_id, name, description, price, created_At , state FROM product ORDER BY created_At DESC
    </select>

    <select id="selectByNameAndId" parameterType="Map" resultType="ProductDto">
        SELECT id, user_id, name, description, price, created_At , state FROM product WHERE name=#{name} AND id=#{id}
    </select>

    <update id="updateProduct" parameterType="ProductDto">
        UPDATE product SET name=#{name}, description=#{description}, price=#{price} WHERE user_id=#{user_id} AND id=#{id}
    </update>

    <update id="updateProductState" parameterType="ProductDto">
        UPDATE product SET state=#{state} WHERE user_id=#{user_id} AND id=#{id}
    </update>

    <delete id="deleteProduct" parameterType="Map">
        DELETE FROM product WHERE user_id=#{user_id} AND id=#{id} AND name=#{name}
    </delete>

    <!--    pointHistory   -->

    <insert id="insertPointHistory" parameterType="PointHistory">
        INSERT INTO point_history (point_id, service_type, service_description, amount) VALUES (#{point_id}, #{service_type}, #{service_description}, #{amount})
    </insert>

    <select id="selectAllPointHistoryByPointId" parameterType="int" resultType="PointHistory">
        SELECT point_id, service_type, service_description, amount, created_At  FROM point_history WHERE point_id=#{point_id} ORDER BY created_At DESC
    </select>

    <!--    orderHistory    -->

    <select id="selectOrderHistoryByUserId" parameterType="String" resultType="OrderHistory">
        SELECT order_history.created_At , order_history.orderer_name, order_history.orderer_address, order_history.orderer_phone_number, product.id, product.name FROM order_history INNER JOIN product ON order_history.product_id = product.id WHERE order_history.user_id=#{user_id} ORDER BY order_history.created_At DESC
    </select>

    <insert id="insertOrderHistory" parameterType="OrderHistory">
        INSERT INTO order_history(`user_id`, `product_id`, `orderer_name`, `orderer_address`, `orderer_phone_number`) values (#{user_id}, #{id}, #{orderer_name}, #{orderer_address}, #{orderer_phone_number});
    </insert>
</mapper>