<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeverchan.recycling_machine.repository.BoardMapper">


    <!--    user    -->
    
    <select id="select" parameterType="String" resultType="UserDto">
        SELECT id, password  FROM user WHERE id = #{id}
    </select>

    <select id="selectUser" parameterType="String" resultType="UserDto">
        SELECT id, password, email, name  FROM user WHERE id = #{id}
    </select>

    <select id="selectEmail" parameterType="String" resultType="UserDto">
        SELECT email  FROM user WHERE email = #{email}
    </select>

    <insert id="insert" parameterType="UserDto">
        INSERT INTO user (id, password, email, name) VALUES (#{id}, #{password}, #{email}, #{name})
    </insert>

    <update id="updateName" parameterType="Map">
        UPDATE user SET name=#{name} where id=#{id}
    </update>

    <update id="updateEmail" parameterType="Map">
        UPDATE user SET email=#{email} where id=#{id}
    </update>

    <update id="updatePwd" parameterType="Map">
        UPDATE user SET password=#{password} where id=#{id}
    </update>

    <!--    point    -->

    <insert id="insertPoint" parameterType="String">
        INSERT INTO point (user_id) VALUES (#{user_id})
    </insert>
    
    <select id="selectPointById" parameterType="String" resultType="Long">
        SELECT amount FROM point WHERE user_id = #{id}
    </select>

    <update id="updatePoint" parameterType="Map">
        UPDATE point SET amount=#{amount}, updated_At=now() where user_id=#{user_id}
    </update>

    <!--    userHistory   -->

    <select id="selectAllHistory" parameterType="String" resultType="UserHistory">
        SELECT user_id, name, email, updated_At FROM user_history WHERE user_id=#{user_id} ORDER BY updated_At DESC
    </select>

    <insert id="insertHistory" parameterType="UserHistory">
        INSERT INTO user_history (user_id, name, email) values (#{user_id}, #{name}, #{email})
    </insert>

    <!--    product    -->
    <insert id="insertProduct" parameterType="ProductDto">
        INSERT INTO product (user_id, name, description, price) values (#{user_id}, #{name}, #{description}, #{price})
    </insert>

    <select id="selectAllProductByUserId" parameterType="String" resultType="ProductDto">
        SELECT id, user_id, name, description, price, created_At, state FROM product where user_id=#{user_id} ORDER BY created_At DESC
    </select>

    <select id="selectAllProduct" resultType="ProductDto">
        SELECT id, user_id, name, description, price, created_At , state FROM product ORDER BY created_At DESC
    </select>

    <select id="selectByNameAndId" parameterType="Map" resultType="ProductDto">
        SELECT id, user_id, name, description, price, created_At , state FROM product where name=#{name} and id=#{id}
    </select>

    <update id="updateProduct" parameterType="ProductDto">
        UPDATE product SET name=#{name}, description=#{description}, price=#{price} where user_id=#{user_id} and id=#{id}
    </update>

    <update id="updateProductState" parameterType="ProductDto">
        UPDATE product SET state=#{state} where user_id=#{user_id} and id=#{id}
    </update>

    <delete id="deleteProduct" parameterType="Map">
        DELETE FROM product WHERE user_id=#{user_id} and id=#{id} and name=#{name}
    </delete>
</mapper>